html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    color: white;
    background-color: black;
}

h1 {
    font-family: fantasy;
    /* font-size: large; */
}

h3 {
    font-family: fantasy;
}

#main {}

#main>h1 {
    text-align: center;
    font-size: xx-large;
    padding: 3%;
}

#calendar {}

#goals {}

#diary {}

#progress {}